.counter
{
display: grid;
justify-content: center;
}
.counter svg
{
    fill: violet;
    transition:all .5s ease;
}
.counter h3
{
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
.counter:hover svg
{
    transform: scale(1.2);
}