.kerala 
{
    position: relative;
}
.kerala .kerala-img
{
    position: relative;
    max-width: 100%;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
@media (min-width:767px)
{
    .kerala .kerala-img.b
{
    transform: translateY(268px);
}
}
