section
{
    padding: 0px 60px;
    position: relative;
    overflow: hidden !important;
}
@media(max-width:767px)
{
    section
    {
    padding: 0px 30px;

    }
    
}
.bg-l-white
{
    background-color:#fcf8f5;
}
.truncate-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .truncate-3 {
    -webkit-line-clamp: 3;
  }
  .sub-head
  {
    font-weight: 700;
  }
  .btn-gray
  {
    background-color: #33333e ;
    color: white ;
    box-shadow:10px 20px 20px #e6e6e6;
    padding: 10px 20px ;
    border: none;
  }


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slcik-slider
  {
    overflow: none;
  }
  .fs-14
  {
    font-size: 14px;
  }
  .fs-15
  {
    font-size: 15px;
  }
  .fs-16
  {
    font-size: 16px;
  }
  .fs-17
  {
    font-size: 17px;
  }
  .fs-18
  {
    font-size: 18px;
  }